.dhtmlselect{ /*style of DHTML Select Menu, main box */
width: 140px; /*default  width of main box */
border: 1px solid black;
position: relative;
text-indent: 3px;
padding: 1px 0;
cursor: hand;
cursor: pointer;
background-color: #F0F0F0;
}

.dhtmlselect .downimage{ /*style of "down" image to the right of the DHTML Select Menu*/
position: absolute;
right: -25px;
}

.dhtmlselect .dropdown{ /*style of Drop Down Menu that appears onMouseover */
position: absolute;
left: 0;
width: 180px; /*default width of drop down menu*/
border: 1px solid black;
border-bottom-width: 0;
display: none;
z-index: 5;
font-weight: normal;
}

.dhtmlselect .dropdown a{ /*style of Drop Down Menu's links */
width: auto;
display: block;
background: #fff7d1;
border-bottom: 1px solid black;
padding: 1px 0;
text-indent: 5px;
text-decoration: none;
color: black;
}

* html .dhtmlselect .dropdown a{ /*IE 6 (and below) hack */
width: 100%;
}

.dhtmlselect .dropdown a:hover{
background: #ffe469;
}