		<table width="650" border="0" align="left" cellpadding="15" cellspacing="0" >
		        <tr><td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td></tr>
			<tr><td>&nbsp;&nbsp;</td><td><td class="standardText" align="left"><i>
			    <b>Welcome. &nbsp;</b>
                             NCI Thesaurus is a reference terminology used in a growing number of NCI and other systems.
			     It provides rich textual and ontologic descriptions of some 60,000 key biomedical concepts.
                            </i></td>
			</tr>
	   </table>